.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #d9f99d;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #12a0f3, #bbe20e);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }


  .gradient-text2 {
    /* Fallback: Set a background color. */
    background-color: #d9f99d;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #12b3f3, #7e0eda);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }